<div class="quiz-container" *ngIf="!gotAWinner()">
    <h1>WHO WINS?</h1>
    <div class="all-options">
        <div class="options-div" *ngFor="let option of selectedOptions">
            <button (click)="pickItemClick(option.id)">{{option.name}}</button>
            <img [src]="'assets/' + option.name + '.png'" [alt]="option.name">
        </div>
    </div>
</div>

<div class="quiz-container" *ngIf="gotAWinner()">
    <h1>{{getWinner().name}} WINS</h1>
    <button (click)="tryAgainClick()">Try Again</button>
</div>

